<div class="col-8 m-auto">
  <form (submit)="onRegister(postReg)" #postReg="ngForm"  *ngIf="RegisterMode">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="text"  ngModel  #email="ngModel" class="form-control" name="email" placeholder="Enter email">
      <small required id="emailHelp"  class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group" *ngIf="RegisterMode">
      <label for="name">Enter Your Full Name</label>
      <input type="text" ngModel name="name" required  #name="ngModel" class="form-control" placeholder="Full name">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword">Password</label>
      <input type="password" ngModel name="password" required  #password="ngModel" class="form-control" placeholder="Password">
    </div>

    <!-- <div class="form-group" *ngIf="RegisterMode">
      <label for="exampleInputPassword1">ReEnter Your Password</label>
      <input type="password" ngModel name="password1" required  #password1="ngModel" class="form-control" placeholder="Reenter Your Password">
    </div>

    <div class="form-group" *ngIf="RegisterMode">
      <label for="price">Date of Birth</label>
      <input type="datetime" ngModel name="datetime" required #datetime="ngModel" class="form-control" placeholder="DOB" >
    </div> -->

     <button type="submit" class="btn btn-primary" *ngIf="RegisterMode">Register</button>
  </form>

<!-- loginnnnnnnnnnnnnn -->
<form (submit)="onLogin(postLog)" #postLog="ngForm"  *ngIf="!RegisterMode">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="text"  ngModel  #username="ngModel" class="form-control" name="username" placeholder="Enter email">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword">Password</label>
    <input type="password" ngModel name="password" required  #password="ngModel" class="form-control" placeholder="Password">
  </div>

   <button type="submit" class="btn btn-primary" *ngIf="!RegisterMode">Login</button>
</form>

  <span *ngIf="!RegisterMode" (click)="RegisterMode = true">Don't have an account? <a class="orange"> Register Here </a> </span>
  <span *ngIf="RegisterMode" (click)="RegisterMode = false">Already have an account? <a class="orange"> Login Here </a> </span>

</div>
